<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InfoBancosDisponiveis</servlet-name>
        <servlet-class>Servlets.InfoBancosDisponiveis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoReplicasDisponiveis</servlet-name>
        <servlet-class>Servlets.InfoReplicasDisponiveis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoBancoEspecifico</servlet-name>
        <servlet-class>Servlets.InfoBancoEspecifico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaConfiguracoes</servlet-name>
        <servlet-class>Servlets.SalvaConfiguracoes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoBancosDisponiveis</servlet-name>
        <url-pattern>/bancosdisponiveis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoReplicasDisponiveis</servlet-name>
        <url-pattern>/replicasdisponiveis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoBancoEspecifico</servlet-name>
        <url-pattern>/bancoespecifico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvaConfiguracoes</servlet-name>
        <url-pattern>/dadosconfiguracoes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/ops.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.html</location>
    </error-page>
    <!--mapping-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sobre</servlet-name>
        <jsp-file>/WEB-INF/sobre.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sobre</servlet-name>
        <url-pattern>/sobre.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dadosbd</servlet-name>
        <jsp-file>/WEB-INF/dadosbd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dadosbd</servlet-name>
        <url-pattern>/dadosbd.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Configuracoes</servlet-name>
        <jsp-file>/WEB-INF/configuracoes.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Configuracoes</servlet-name>
        <url-pattern>/configuracoes.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Bancos</servlet-name>
        <jsp-file>/WEB-INF/bancos.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bancos</servlet-name>
        <url-pattern>/bancos.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
</web-app>
