.subtitulo{
	padding-top: 2%;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
svg{
	width: 100%;
}
#legenda{
	font-size: 14px;
	text-align: center;
	/*border-bottom-style: solid;
	border-width: 1px;*/
}
#real{
	margin-right: 3%;
	color: green;
}
#previsto{
	margin-right: 3%;
	color: gray;
}
#sla{
	color: red;
}
#gruporeplicas{
	margin-bottom: 10%;
}
text{
	font-size: 12px;
}
@media only screen and (max-width:400px){
	text{
		font-size: 7.5px;
	}
	.list-group-item{
		font-size: 13px;	
	}
}
.list-group-item{
	background-color: #eee;
	border-color: #d9d9d9;
}